/*MAIN STYLES*/
* {
    padding: 0;
    margin: 0;
    font-size: 25px;
    max-width:100%;
}

.big_margin_top {margin-top:100px;}

.big_font_size {font-size:30px;}

.content {
    width: 96%;
    max-width: 1200px;
    margin:0 auto;
}
.center {
    text-align:center;
}
img {
    max-width: 100%;
}
header {
    height: auto;
    background: #fff;
    border-bottom: 1px solid #ececec;
}
.logo {
    width: 50%;
    display:inline-block;
}
.logo span {
    font-size: 26px;
    color: #7c7c7c;
}
.logo img {
    width: 120px;
    vertical-align: middle;
}
body {
    background: #f7f7f7;
}
main {
    display: block;
    min-height: 65vh;
}
.right {
    float: right;
    margin-left: 10px;
}
.left {
    float: left;
    margin-right: 10px;
}

.error {
    color: red;
    display: block;
}

p.error {
    text-align: center;
}

.buttons {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.buttons form {
    display: inline-block;
    margin:20px;
}

.profile_button {float:none;}

.buttons form input {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.answer, .type_answer {
    display: inline-block;
    float: top;
}

.buttons form input:hover {
    background: #66AAFF;
    cursor:pointer;
}

.main_page {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top:50px;
}

.main_page:hover {
    background: #66AAFF;
    cursor:pointer;
}

.image_position {width:500px; margin:0 auto;max-width: 100%;}
/*END MAIN STYLES*/

/*LOG-IN STYLES*/
.log_in {
    padding: 20px;
    margin:70px auto 0;
    width: 35vw;
    max-width:500px;
    min-width:200px;
    text-align: center;
    background-color: #4682B4;
    border-radius: 20px;
    border: solid #4682B4;
}

.log_in label p {
    width: 100px;
    display: inline-block;
    font-size: 20px;
}

.log_in #login, .log_in #password{
    width:200px;
    display: inline-block;
}

.log_in input {
    margin: 5px 0;
    border-radius: 10px;
    width:200px;
    height:35px;
}

.text_log_in {
    font-size: 20px;
    margin: 10px;
    padding: 8px;
    background-color: yellow;
    border-radius: 10px;
}

.log_in form {
    width:100%;
}

form input:focus {
    border-color: #0088cc;
    outline:none;
}

/*END LOG-IN STYLES*/

/*START REGISTRATION STYLES*/

.registration_item p {width:200px;display:inline-block;}

.registration_item {margin-top:50px;}

.registr_item {margin:15px 30px;}

.registr_error {color: red;display: inline-block;}

.registr_confirm {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 12%;}

.registr_confirm:hover {
    background: #66AAFF;
    cursor:pointer;
}

/*END REGISTRATION STYLES*/


/*ADD QUESTION*/

.new_quest_area {
    display:inline-block;
}

.new_quest_button {
    display:inline-block;
    vertical-align: top;
    min-width: 270px;
}

.add_quest_button {
    background: #6CEA53;
    border: 2px solid #6CEA53;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 12%;
}

.add_quest_button:hover {
    background: #8EF07A;
    cursor:pointer;
}

.add_quest_button:focus {
    border-color: #6CEA53;
}

.add_question_button {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left:calc(50% - 111px);
}

.add_question_button:hover {
    background: #66AAFF;
    cursor:pointer;
}

.question_back {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top:30px;
}

.question_back:hover {
    background: #66AAFF;
    cursor:pointer;
}

.del_quest_button {
    background: #FF2624;
    border: 2px solid #FF2624;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 12%;
}

.del_quest_button:hover {
    background: #FE5958;
    cursor:pointer;
}

.del_quest_button:focus {
    border-color: #FE5958;
}

.text_quest_area {
    margin-top:50px;
    margin-bottom:20px;
    padding:20px;
    border:2px solid #3496FE;
    border-radius:20px;
}

.add_quest_area {
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    border:2px solid #3496FE;
    border-radius:20px;
}


/*ADD QUESTION*/


/*START TEST STYLES*/



.info {
    text-align: center;
    line-height: 10vh;
}
.info p {
    vertical-align: middle;
    display: inline-block;
    width: 80%;
    text-align: center;
    min-width:250px;
    font-size: 35px;
}

.results {
    display: inline-block;
}

.results .button_results {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.results .button_results:hover {
    background: #66AAFF;
    cursor:pointer;
}

.tests {
    color: white;
    font-weight: bold;
    padding: 20px;
    min-height: 70vh;
    background-color: lightyellow;
    border: white solid;
    border-radius: 30px;
    margin: 0 auto;
    width:85%;
    min-width: 350px;
    text-align: center;
}

.test {
    background-color: #539cd4;
    border: outset #539cd4 2px;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    margin: 5px 10px 50px;
    display: inline-block;
    width: 320px;
    height: 150px;
    cursor: pointer;
}

.test:nth-child(5n-3) {
    background-color: #28aa67;
    border: outset #28aa67 2px;
}

.test:nth-child(5n-2) {
    background-color: #d6633c;
    border: outset #d6633c 2px;
}

.test:nth-child(5n-1) {
    background-color: #7cedff;
    border: outset #7cedff 2px;
}

.test:nth-child(5n) {
    background-color: #ffa93a;
    border: outset #ffa93a 2px;
}

.test:hover {
    position: relative;
    bottom: 5px;
    border-color: black;
}
.test p {font-size:24px;}

.test .author {
    color: black;
    font-weight: normal;
    display: inline-block;
    background-color: white;
    font-size: 16px;
    height: 40px;
    width: 100%;
    margin: 0px;
}

#hidden_form {
    visibility: hidden;
}

.spoiler_hide {
    display: none;
}
.spoiler_show {
    display: block;
}

.button_send {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.button_send:hover {
    background: #66AAFF;
    cursor:pointer;
}

.number_question {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 26px;
    margin: 5px 0;
    box-shadow: 5px 5px 15px #3496FE;
}

.number_question:active {
    background:#50C878;
}

.test_area {
    padding: 30px;
    min-height: 140px;
    padding-bottom: 0;
}

.item_question {
    display:inline-block;
    width: 100%;
    min-height: 250px;
    min-width:500px;
    padding:20px;
    border: 2px solid #3496FE;
    border-radius:20px;
    vertical-align: top;
}

.item_question div .item_answer {
    margin:10px 0px;
    padding-left:30px;
}

.item_question h1 {
    margin: 10px 0;
    font-size:25px;
    background-color: #89D3F0;
    padding: 20px 0;
    text-align: center;
    border-radius: 30px;
}

.item_number_question {
    width: 100%;
    display:inline-block;
    min-width:100px;
    margin-top:30px;
}

.item_submit {
    width:100%;
    text-align: center;
}
/*END TEST STYLES*/

/*PROFILE STYLES*/
.profile_image IMG {
    height: 200px;
}

.main_info {
    max-width: 500px;
    border: 2px solid #3496FE;
    border-radius: 30px;
    margin: 40px auto;
}

.profile_image {
    display: inline-block;
    vertical-align: middle;
    width: 39%;
}

.name_surname {
    display:inline-block;
    width: 59%;
    vertical-align: middle;
}

.name_surname h2 {
    font-size:40px;
}

.other_info {
    margin: 40px auto;
}

.other_info form {
    margin: 20px;
}

.other_info
form input[type="submit"] {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.other_info form input[type="submit"]:hover {
    background: #66AAFF;
    cursor:pointer;
}
/*PROFILE STYLES*/

/*RESULTS STYLES*/
.table_results {
    text-align:center;
    width:100%;
    max-width:1100px;
    margin:0 auto;
    border-collapse:collapse;
    margin-top:50px;
}

.table_results td, .table_results th {
    border:2px solid #3496FE;
    padding:10px;
}

.title_results {
    font-size:50px;
}
/*RESULTS STYLES*/

div.tests .not_activated {
    opacity: 0.3;
}

#new_test {
    display: none;
}

#new_test span {
    color: black;
}

/*TUTOR*/

.button_delete {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: inline-block;
}

.button_delete:hover {
    background: #66AAFF;
    cursor:pointer;
}

.test_result {
    width:100%;
    text-align: right;
}

.test_result .button_results {
    margin:30px 0;
}

.tutor_question {
    display:inline-block;
    vertical-align:middle;
    width: 90%;
}

.add_question {
    background: #3496FE;
    border: 2px solid #3496FE;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin:15px 0;
}

.add_question:hover {
    background: #66AAFF;
    cursor:pointer;
}

.tutor_main {
    text-align:center;
}
/*TUTOR*/